<div class="body-account">
  <div class="wrapper">
    <form method="POST" action="/handleRegister">
      <h1>Đăng ký</h1>
      <div>
        <% if (error) { %>
          <p><%= error %></p>
        <% } %> 
      </div>
      <div class="input-box">
        <input type="text" placeholder="Vui lòng nhập tên..."
          class="form-control" id="name" name="name"
          required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Vui lòng nhập mail..."
          class="form-control" id="email" name="email"
          required>
      </div>

      <div class="input-box">
        <input type="password" placeholder="Vui lòng nhập mật khẩu..."
          class="form-control" id="password" name="password"
          required>
      </div>
      
      <div class="input-box">
        <input type="password" placeholder="Vui lòng nhập lại mật khẩu..."
          class="form-control" id="password-again" name="password_again"
          required>
      </div>

      
  
      <button type="submit" class="btn">Đăng ký</button>
  
      <div class="register-link">
        <p>You have an account?
          <a href="/login">Đăng nhập</a>
        </p>
      </div>
    </form>
  </div>
</div>