/* *{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
} */
/* 

.body-account{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
} */

.body{
    margin-top: 90px;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    
}
/* logo của shop*/
 .logo-shop{
    height: 60px;
    width: 60px;
}

/* avatar của user  */
.avatar-user{
  height: 40px;
  width: 40px;
  border-radius: 50%;
} 

/* header  */

.nav-link{
    text-decoration: none;
    margin-right: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    width: auto;
}

.nav-link:hover {
    color: #000;
    background: linear-gradient(to right, #1FADFF, #12DAFB, #A7FDCC);
}

.form-search{
    margin-left: 40px;
}

/* footer  */

  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
   color: #fff;
    text-decoration: none;
  }

/* css cho phần home page  */



/* Thay đổi màu chữ cho navbar link và navbar dropdown */
.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle {
  color: white !important; /* Màu chữ màu trắng */
}

/* Thay đổi màu chữ khi hover vào navbar link */
.navbar-nav .nav-link:hover {
  color: #f8b400; /* Màu cam */
}



/* css cho phần form đăng nhập và đăng ký */


.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}



.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* tăng giảm số  lượng sản phẩm  */

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-product-item{
  margin: 5px 10px 20px 0 ;
}


/* kích thước hình ảnh giới thiệu  */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

/* thẻ div không di chuyển khi cuộn trang  */

.header-absolute {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4CAF50;
  z-index: 999;
} 
 .absolute {
  position: fixed;
  top: 85px;
  left: 108px;
}



/*paied.ejs địa chỉ khi đặt hàng  */
._8jJlG8 {
  height: 170px;
  padding: 20px 30px 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.Jw2Sc {
  display: inline-block;
}
/*paied.ejs mặc định */

.vtrWey {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
.uk7Wpm {
  width: 60px;
  height: 25px;
  padding: 2px 5px;
  margin-left: 1.5em;
  color: #ee4d2d;
  border-radius: 1px;
  border: 0.5px solid;
  font-size: 10px;
  text-transform: capitalize;
  flex-shrink: 0;
}

._3cPNXP{
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.1);

}

/* paied địa chỉa tên số điện thoại  */
.FVWWQy{
  width: 180px;
}

button._3WkjWD.div-style {
  color: #4080ee;
  width: 90px;
  border: 0;
  text-transform: capitalize;
  margin-left: 2.5rem;
  cursor: pointer;
}

.OX-2Lj .div-style {
  display: block;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: inherit;
}

.kara-svg-icon {
  width: 20px;
  height: 25px;
    margin:0 15px 4px 0;
}

.kara-svg-icon path{
    fill: #ee4d2d;
}

.MqmqK4 {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #ee4d2d;
  margin-bottom: 20px;
  text-transform: capitalize;
  flex: 1 1 auto;
}

._3cPNXP, .V-sVj2 {
  display: flex;
  align-items: center;
}
.V-sVj2 {
  width: 100%;
  font-size: 14px;
}
._3cPNXP, .V-sVj2 {
  display: flex;
  align-items: center;
}

style attribute {
  visibility: visible;
}

/* paied.ejs sản phẩm  */
.ktatB-{
  width: 50%;
}

