

  <section class="product-details mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="<%= product.product_image %>" alt="Product Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <h2 class="mb-4">Product Name</h2>
          <p class="mb-4">Product Description</p>
          <h4 class="mb-4">Price: $99.99</h4>
          <div class="mb-4">
            <h5>Product Details</h5>
            <ul>
              <li>Brand: Brand Name</li>
              <li>Category: Category Name</li>
              <li>Rating: 4.5/5</li>
            </ul>
          </div>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </section>