<div class="container-sm">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="logo-shop" src="images/logocomic.png" alt="">
            Kara's Shop
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">

            <form class="d-flex me-auto form-search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Đơn hàng</a>
                </li>
                <li class="nav-item">
                
                  <a class="nav-link" href="/approve">Duyệt đơn</a>
                  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Người dùng</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/login">Thông kê</a>
                </li> 
                <% if (!session.image) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Đăng nhập</a>
                  </li> 
                <% } else { %>
                  <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      <img class="avatar-user" src="<%= session.image %>" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="#">Tài khoản</a></li>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
                    </ul>
                  </li>
                <% } %> 
                
              </ul>
          </div>
        </div>
      </nav>
</div>

