<div class="container-sm">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a style="color: #fff;" class="navbar-brand" href="/">
            <img class="logo-shop" src="images/logocomic.png" alt="">
            Kara's Shop
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll" >
            <form class="d-flex me-auto form-search" method="POST" action="search">
              <input class="form-control me-2" type="search" name="key" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item">
                
                  <a class="nav-link" href="/ordered">Sản Phẩm</a>
                  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Liên Hệ</a>
                </li>
                
                <li class="nav-item">
                  <% if (!session.image) { %>
                    <a class="nav-link" href="/login">Giỏ Hàng</a>
                  <% } else { %>
                    <a class="nav-link" href="/cart">Giỏ Hàng</a>
                  <% } %> 
                </li> 
                <% if (!session.image) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Đăng nhập</a>
                  </li> 
                <% } else { %>
                  <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      <img class="avatar-user" src="<%= session.image %>" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="#">Tài khoản</a></li>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
                    </ul>
                  </li>
                <% } %> 
                
              </ul>
          </div>
        </div>
      </nav>
</div>



<style>
  /* Màu nền cho header */
.navbar {
  background-color: #4CAF50; /* Màu xanh lá cây */
}

/* Thay đổi màu chữ cho navbar link và navbar dropdown */
.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle {
  color: white !important; /* Màu chữ màu trắng */
}

/* Thay đổi màu chữ khi hover vào navbar link */
.navbar-nav .nav-link:hover {
  color: #f8b400; /* Màu cam */
}

/* Đổi màu khung input search */
.form-search input {
  background-color: #f2f2f2;
  height: 50px; /* Màu xám nhạt */
}

/* Đổi màu nút search */
.form-search button {
  background-color: #f8b400; /* Màu cam */
  color: white;
  height: 50px;
}

</style>