<div class="container">
    <h1 class="text-center">Thêm sản phẩm</h1>

    <form action="handleAdd" method="POST">
        <div class="mb-3">
            <label for="category" class="form-label">Thể loại:</label>
            <input type="text" class="form-control" id="category" name="category" required>
        </div>

        <div class="mb-3">
            <label for="product_name" class="form-label">Tên sản phẩm:</label>
            <input type="text" class="form-control" id="product_name" name="product_name" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Ảnh:</label>
            <input type="text" class="form-control" id="image" name="image" required>
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Số lượng:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Giá:</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-primary ">Lưu</button>
        </div>
    </form>
</div>
