<div class="container">
    <h1 class="mt-5">Trang duyệt đơn hàng</h1>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <td>Sản phẩm A</td>
                <td>10</td>
                <td>1000</td>
                <td>Chưa duyệt</td>
                <td><a href="#" class="btn btn-primary">Xác nhận</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Nguyễn Thị B</td>
                <td>Sản phẩm B</td>
                <td>5</td>
                <td>500</td>
                <td>Đã duyệt</td>
                <td><a href="#" class="btn btn-danger">Hủy</a></td>
            </tr>
        </tbody>
    </table>
</div>
