<div class="container">
    <h1 class="text-center">Edit User</h1>
  
    <div class="card mt-4">
      <div class="card-body">
        <form action="updateUser?id=<%= users._id%>&_method=PUT" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" 
                name="name" value="<%= users.name %>" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" 
                name="email" value="<%= users.email %>" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" 
                name="password" value="<%= users.password %>" required>
            <button class="btn" type="button" id="toggle_password">
                xem
            </button>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-control" id="role" name="role" required>
              <option value="admin">Admin</option>
              <option value="shipper">Shipper</option>
              <option value="user">User</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Lưu</button>
          <a href="manageUser" class="btn btn-secondary">Hủy bỏ</a>
        </form>
      </div>
    </div>
  </div>

  <script>
    const togglePasswordButton = document.getElementById('toggle_password');
    const passwordInput = document.getElementById('password');
  
    togglePasswordButton.addEventListener('click', () => {
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      togglePasswordButton.querySelector('i').classList.toggle('bi-eye');
      togglePasswordButton.querySelector('i').classList.toggle('bi-eye-slash');
    });
  </script>

  <style>
    h1 {
  text-decoration: underline; /* Hiển thị gạch chân dưới */
  text-shadow: 2px 2px 4px #392121; /* Tạo bóng với màu đỏ (#FF0000), căn x,y,z lần lượt là 2px, 2px, 4px */
  color: #ff1010; /* Màu chữ */
  text-transform: uppercase;
}
  </style>